In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
titles = pd.read_csv('titles.csv')
titles

                                      title  year
0                        Tasveer Mere Sanam  1996
1                                  Only You  1994
2                      El pueblo del terror  1970
3                                   Machine  2007
4                                      MARy  2008
...                                     ...   ...
244909  Black Butterfly in a Colorful World  2018
244910        Hua fei hua wu chun man cheng  1980
244911                 Nippon dabi katsukyu  1970
244912        Under Siege 2: Dark Territory  1995
244913            She Must Be Seeing Things  1987

[244914 rows x 2 columns]

### 1) How many movies are listed in the titles dataframe?

In [3]:
titles.title.unique

<bound method Series.unique of 0                          Tasveer Mere Sanam
1                                    Only You
2                        El pueblo del terror
3                                     Machine
4                                        MARy
                         ...
244909    Black Butterfly in a Colorful World
244910          Hua fei hua wu chun man cheng
244911                   Nippon dabi katsukyu
244912          Under Siege 2: Dark Territory
244913              She Must Be Seeing Things
Name: title, Length: 244914, dtype: object>

### 2) What are the earliest two films listed in the titles dataframe?

In [4]:
titles.sort_values('year').head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### 3) How many movies have the title "Hamlet"?

In [5]:
len(titles[titles.title=='Hamlet'])

20

### 4) How many movies are titled "North by Northwest"?

In [6]:
len(titles[titles.title=='North by Northwest'])

1

### 5) When was the first movie titled "Hamlet" made?

In [7]:
titles[titles.title=='Hamlet'].sort_values('year').head(1)

        title  year
52521  Hamlet  1910

### 6) List all of the "Treasure Island" movies from earliest to most recent.

In [8]:
titles[titles.title=="Treasure Island"].sort_values("year")

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### 7) How many movies were made in the year 1950?

In [9]:
len(titles[titles.year==1950])

1113

### 8) How many movies were made in the year 1960?

In [10]:
len(titles[titles.year==1960])

1549

### 9) How many movies were made from 1950 through 1959?

In [11]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)].sort_values('year'))

12934

### 10) In what years has a movie titled "Batman" been released?

In [12]:
titles[titles.title=='Batman'].sort_values("year")

         title  year
39349   Batman  1943
240896  Batman  1989

In [44]:
cast=pd.read_csv("cast.csv")
cast=cast.fillna(0)
cast.tail(30)

,title,year,name,type,character,n
3786146,The Sky Has Fallen,2009,Preity ?pala,actress,Skylar,0.0
3786147,Virsa,2010,Preity ?pala,actress,Prema,0.0
3786148,K (II),2015,?rchaihu,actress,Castle Inn Singer 2,0.0
3786149,Dondurmam Gaymak,2005,T?nay ?rper,actress,Seller,0.0
3786150,Halam Geldi,2013,Nesrin ?stkanat,actress,Melek,0.0
3786151,Musallat,2007,Serap ?st?n,actress,Zeynep,0.0
3786152,Acliga Doymak,2012,Zeyno ?st?nisik,actress,Selma,0.0
3786153,Askin kesisme noktasi,1990,Zuhal ?st?ntas,actress,Hira Ana,0.0
3786154,Dislanmis/Lekeli melek,1993,Zuhal ?st?ntas,actress,Fatma,0.0
3786155,Recep Ivedik 4,2014,Berna ??kaleler,actress,Simge,0.0
3786156,Gise Memuru,2010,Sevin? ??ok,actress,Afar Shouting Woman,18.0
3786157,Issiz Adam,2008,Sevin? ??ok,actress,Ece,0.0
3786158,Niceland (Population. 1.000.002),2004,Hugr?n ?orfinnsd?ttir,actress,Diana,10.0
3786159,Eldfjall,2011,Katla M. ?orgeirsd?ttir,actress,Home Nurse,0.0
3786160,Svanurinn,2017,Katla M. ?orgeirsd?ttir,actress,?l?f,0.0
3786161,Nei er ekkert svar,1995,Gu?r?n B. ?orsteinsd?ttir,actress,Part?gestir,46.0
3786162,Agnes,1995,Ingibj?rg ?orsteinsd?ttir,actress,Kona,25.0
3786163,Beowulf & Grendel,2005,Steinunn ?l?na ?orsteinsd?ttir,actress,Wealtheow,15.0
3786164,Eden,2018,Steinunn ?l?na ?orsteinsd?ttir,actress,M??ir Viggu,8.0
3786165,Dansinn,1998,Lilja Gu?r?n ?orvaldsd?ttir,actress,S?slumannafr?in,13.0
3786166,Foreldrar,2007,Lilja Gu?r?n ?orvaldsd?ttir,actress,Katrin Eldri,0.0
3786167,Rokland,2011,Lilja Gu?r?n ?orvaldsd?ttir,actress,A?albj?rg - Dagga's Mother,0.0
3786168,XL,2013,Lilja Gu?r?n ?orvaldsd?ttir,actress,Tengdamamma,0.0
3786169,Niceland (Population. 1.000.002),2004,Steinunn ?orvaldsd?ttir,actress,Factory Worker,21.0
3786170,Stuttur Frakki,1993,Sveinbj?rg ??rhallsd?ttir,actress,Flugfreyja,24.0
3786171,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3786172,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3786173,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3786174,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3786175,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,0.0

### 11) How many roles were there in the movie "Inception"?

In [17]:
len(cast[cast.title=='Inception'].character)

78

### 12) How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [18]:
print(len(cast[(cast.title=="Inception") & (cast.n==0.0)].character))

27

### 13) But how many roles in the movie "Inception" did receive an "n" value?

In [20]:
print(len(cast[(cast.title=="Inception") & (cast.n!=0.0)].character))

51

### 14) Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [22]:
cast[(cast.title=="North by Northwest") & (cast.n!=0.0)].sort_values('n')

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### 15) Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [23]:
cast[(cast.title=="Sleuth") & (cast.year==1972)].sort_values("n")

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### 16) Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [24]:
cast[(cast.title=="Sleuth") & (cast.year==2007)].sort_values("n")

          title  year                 name     type          character    n
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  0.0
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  0.0
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  0.0
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  0.0
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0

### 17) How many roles were credited in the silent 1921 version of Hamlet?

In [25]:
len(cast[(cast.year==1921) &(cast.title=="Hamlet") & (cast.n!=0)].character)

9

### 18) How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [26]:
print(len(cast[(cast.year==1996) & (cast.title=="Hamlet") & (cast.n!=0)].character))

46

### 19) How many "Hamlet" roles have been listed in all film credits through history?

In [28]:
len(cast[cast.title=="Hamlet"].character)

342

### 20) How many people have played an "Ophelia"?

In [29]:
len(cast[cast.character=="Ophelia"])

117

### 21) How many people have played a role called "The Dude"?

In [30]:
len(cast[cast.character=="The Dude"])

19

### 22) How many people have played a role called "The Stranger"?

In [31]:
len(cast[cast.character=="The Stranger"])

212

### 23) How many roles has Sidney Poitier played throughout his career?

In [32]:
len(cast[cast.name=="Sidney Poitier"].character)

43

### 24) How many roles has Judi Dench played?

In [33]:
len(cast[cast.name=="Judi Dench"].character)

55

### 25) List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [47]:
cast[(cast.n == 2)& (cast.name == "Cary Grant") & (cast.year >=1940) & (cast.year <=1949)].sort_values('year')

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### 26) List the leading roles that Cary Grant played in the 1940s in order by year.

In [51]:
cast[(cast.name=="Cary Grant")&(cast.year>=1940)&(cast.year<=1949)&(cast.n==1)].sort_values("year")

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### 27) How many roles were available for actors in the 1950s?

In [54]:
len(cast[(cast.type=="actor") & (cast.year>=1950) & (cast.year<=1959)].character)

157738

### 28) How many roles were available for actresses in the 1950s?

In [55]:
len(cast[(cast.type=="actress") & (cast.year>=1950) & (cast.year<=1959)].character)

57733

### 29) How many leading roles (n=1) were available from the beginning of film history through 1980?

In [57]:
len(cast[(cast.n==1) & (cast.year<=1980)].character)

65140

### 30) How many non-leading roles were available through from the beginning of film history through 1980?

In [58]:
len(cast[(cast.n!=1) & (cast.year<=1980)].character)

1117667

### 31) How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [59]:
len(cast[(cast.n==0) & (cast.year<=1980)].character)

448347